h3 {
    animation-name: rainbowtext;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes rainbowtext{
    0%{
        color: red;
        font-size: 20%;
    }
    25%{
        color: orange;
    }
    50%{
        color: purple;
        font-size: 60px;
        transform: tanslateX(25%);
    }
    75%{
        color: green;
    }
    80%{
        color: yellow;
    }
    100%{
        color: blue;
        font-size: 20px;
    }
}