.loader {
    border-radius: 50%;
    background-color: #fff;
    border-top: blue;
    border-bottom: green;
    border-right: gray;
    border-left: gray;
    animation-name: loader;
}

@keyframes loader {
    
}