.box{
    background-color: #5518ab;
    color: #fff;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    margin: 20%;
    padding: 10%;
}

.box:hover{
    background: #e74c3c;
    transform-origin: top left;
    transform: scale(2);
}